$desktop: 1440px;
$mobile: 375px;
$card-length: 550px;
$dice-length: 50px;

.advice-card {
    position: relative;
    background-color: var(--dark-grayish-blue);
    border-radius: 20px;
    width: $card-length;
    height: fit-content;
    padding: 1.2rem;
    opacity: 0;
    filter: drop-shadow(5px 5px 100px hsl(0, 0, 0));

    &__title {
        color: var(--neon-green);
        font-size: calc(7.5rem / 16);
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        letter-spacing: 0.2rem;
    }

    &__advice {
        font-size: calc(18rem / 16);
        color: var(--light-cyan);
        font-weight: 800;
        text-align: center;
    }

    &__deco-element {
        width: 100%;
        height: 20px;
        margin: .8rem auto;
        background-image: url('../public/static/images/pattern-divider-desktop.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__reroll-button {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: $dice-length;
        height: $dice-length;
        top: calc(100% - $dice-length / 2);
        left: calc(50% - $dice-length / 2);
        background-color: var(--neon-green);
        border-radius: 100%;
        border: 0;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out,
            opacity 0.1s ease-in-out;

        &:hover {
            box-shadow: 0 0 20px 3px var(--neon-green);
        }

        &:active {
            opacity: 0.7;
        }
    }

}

@media only screen and (max-width: 600px) {
    .advice-card{
        width: 91.7%;
    }
}


@media only screen and (max-width: $mobile) {
    .advice-card{
        
        &__title {
            font-size: calc(7rem / 16);
        }

        &__advice {
            font-size: calc(14rem / 16);
        }

        &__deco-element {
            background-image: url('../public/static/images/pattern-divider-mobile.svg');
        }

    }
}