@import './AdviceCard.scss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');


$desktop: 1440px;
$mobile: 375px;

/* Global */

:root {
  // Primary
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  // Neutral
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  font-size: calc(28rem / 16);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Specific styling */
.page-container {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}